* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  text-align: center;
  padding: 40px 35px;
  border-radius: 20px;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  height: 60px;
  border-radius: 30px;
  padding: 10px 20px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.search button img {
  width: 20px;
}

.weather {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}
.weather img {
  height: 150px;
  width: 150px;
}
.temperature {
  font-size: 50px;
  font-weight: 700;
}
.city {
  font-size: 30px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.col img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}
